.nft-card-item {
  margin: 10px;
  padding: 15px;
  flex-grow: 1;
  position: relative;
  transition: all 0.5s ease 0s !important;
}

.nft-card-item:hover {
  transform: scale(1.01);
}

.nft-attr {
  width: 48%;
  background: #353131;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.nft-attr:hover {
  box-shadow: rgb(159 135 135 / 20%) 3px 6px 13px 0px, rgb(255 250 250 / 12%) 1px 2px 5px 1px, rgb(255 255 255 / 4%) 0px 1px 0px 0px inset;
  cursor: pointer;
  transition-duration: 200ms;
}

.nft-attr>span {
  margin: 0;
}

.nft-card-image {
  height: 300px !important;
  object-fit: fill !important;
  border-radius: 5px !important;
  width: 90% !important;
  margin: auto !important;
}

.nft-name-text {
  position: absolute;
  top: 20px;
  right: 50px;
  color: #1e1e1e;
}

.nft-rank-text {
  position: absolute;
  top: 40px;
  right: 50px;
  color: #1e1e1e;
}